@import 'bootstrap.css'

body
	max-width 1200px
	margin 0 auto
	
.skill
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	width 50%
	
	&:hover
		color #000
		background-color #ddd
		
@media (min-width: 996px) 
	.skill 
		width 25%
