@import 'bootstrap.css'
@import 'animations'
@import 'typography'
@import 'tiles'

body
	max-width 1200px
	margin 0 auto
	padding 0 15px
	background-color #ECEFF1
	
section
	margin 50px 0 30px

[class*="col-"]
	padding-top 15px
	padding-bottom 15px

#search_input
	label 
		left calc(50% - 25px)	
	input
		text-align center	
	
.skill
	flex 1 0 50%
	transition color 0.2s ease, background-color 0.5s ease
	color #000
	
	&:hover,
	&:active,
	&:focus
		transition color 0.2s ease, background-color 0.5s ease
		background-color #00BCD4
		color #fff

header
	figcaption
		font-size 2.5em
		
		p
			margin 0
			
			&:nth-child(2)
				font-size 0.6em

@media (min-width 996px) 
	.skill 
		flex 1 0 25%

@media (min-width 768px)
	header figcaption
		font-size 3.5em
		
