@import 'bootstrap.css'
@import 'animations'
@import 'typography'

body
	max-width 1200px
	margin 0 auto
	padding 0 15px
	background-color #ECEFF1
	
section
	margin 50px 0 30px

[class*="col-"]
	padding-top 15px
	padding-bottom 15px

#search_input
	label 
		left calc(50% - 25px)	
	input
		text-align center	
	
.skill
	flex 1 0 50%
	transition color 0.2s ease, background-color 0.5s ease
	color #000
	
	&:hover,
	&:active,
	&:focus
		transition color 0.2s ease, background-color 0.5s ease
		background-color #00BCD4
		color #fff

.mks, .ut
	display flex
	flex-flow column nowrap
	height 350px
	border-radius 5px
	-webkit-tap-highlight-color rgba(0,0,0,0)
	box-shadow 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)
	background-size contain
	text-align center
	padding 5%
	
	p, h1
		color #fff
		align-self center
		text-shadow 3px 3px 3px #000, -1px -1px 3px #000,   1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 3px #000
		
.mks
	background #AAC0D5 url('../images/makersquare-logo.png') no-repeat center center

.ut
	background #C7AF9F url('../images/ut-seal.png') no-repeat center center

header
	figcaption
		font-size 2.5em
		
		p
			margin 0
			
			&:nth-child(2)
				font-size 0.6em

@media (min-width 996px) 
	.skill 
		flex 1 0 25%

@media (min-width 768px)
	header figcaption
		font-size 3.5em
		
