@import 'bootstrap.css'

body
	max-width 1200px
	margin 0 auto
	
section
	margin 50px 0
	
.skill
	width 50%
	transition color 0.2s ease, background-color 0.5s ease
	color #000
	
	&:hover,
	&:active,
	&:focus
		transition color 0.2s ease, background-color 0.5s ease
		background-color #00BCD4
		color #fff
		
.mks
	background url('../images/makersquare-logo.png') no-repeat center center
	height 300px

.ut
	background url('../images/ut-seal.png') no-repeat center center
	height 300px
		
@media (min-width 996px) 
	.skill 
		width 25%
